
 <!-- Footer Start -->

<footer>

    {% include social-buttons.html %}

    <p><br><br></p>

    <div class="container text-center">
      <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
    </div>
	<br>
    <div class="container text-center">
      <p><small>Many thanks to Ahlem Metoui for the background pictures<small></p>
      <p><small>and to Panos Sakkos for the website theme<small></p>       
    </div>

</footer>

<p><br><br><br><br><br><br></p>

<!-- Footer End -->
